#include <windows.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

//
// Version information
//

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_STR_FILEVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904b0"
    {
      VALUE "CompanyName",      VER_STR_COMPANYNAME
      VALUE "FileDescription",  VER_STR_DESCRIPTION
      VALUE "FileVersion",      VER_STR_VERSION
      VALUE "InternalName",     VER_STR_ORIGINALFILENAME
      VALUE "LegalCopyright",   VER_STR_COPYRIGHT
      VALUE "OriginalFileName", VER_STR_ORIGINALFILENAME
      VALUE "ProductName",      VER_STR_APPNAME
      VALUE "ProductVersion",   VER_STR_VERSION
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409, 1200
  }
}


//
// Icon
//

application ICON "APPLICATION.ico"


//
// Menu
//

menu MENU
{
  POPUP "&File"
  {
    MENUITEM "&Reload", IDM_FILE_RELOAD
    MENUITEM "&New", IDM_FILE_NEW
    MENUITEM "&Open...", IDM_FILE_OPEN
    MENUITEM "&Save", IDM_FILE_SAVE
    MENUITEM "Save &As...", IDM_FILE_SAVE_AS
    MENUITEM SEPARATOR
    MENUITEM "E&xit", IDM_FILE_EXIT
  }
  POPUP "&Edit"
  {
    MENUITEM "&Undo", IDM_EDIT_UNDO
    MENUITEM SEPARATOR
    MENUITEM "&Begin Select", IDM_EDIT_BEGIN_SELECT
    MENUITEM "&End Select", IDM_EDIT_END_SELECT
    MENUITEM SEPARATOR
    MENUITEM "Cu&t", IDM_EDIT_CUT
    MENUITEM "&Copy", IDM_EDIT_COPY
    MENUITEM "&Paste", IDM_EDIT_PASTE
    MENUITEM "C&lear", IDM_EDIT_CLEAR
    MENUITEM SEPARATOR
    MENUITEM "&Find...", IDM_EDIT_FIND
    MENUITEM "Find &Next", IDM_EDIT_FIND_NEXT
    MENUITEM SEPARATOR
    MENUITEM "Select &All", IDM_EDIT_SELECT_ALL
  }
  POPUP "&Tools"
  {
    MENUITEM "&Lookup...", IDM_TOOLS_LOOKUP
    MENUITEM SEPARATOR
    MENUITEM "&Status Bar", IDM_TOOLS_STATUSBAR
    MENUITEM "&Wordwrap", IDM_TOOLS_WORDWRAP
    MENUITEM "&Font...", IDM_TOOLS_FONT
    MENUITEM "&Text Color...", IDM_TOOLS_TEXTCOLOR
    MENUITEM "&Background Color...", IDM_TOOLS_BACKCOLOR
    MENUITEM SEPARATOR
    POPUP "&Charset..."
    {
      MENUITEM "&Shift_JIS (CP932)", IDM_TOOLS_CHARSET_CP932
      MENUITEM "&UTF-8 (Unicode)", IDM_TOOLS_CHARSET_UTF8
      MENUITEM "UTF-16 &LE (Unicode)", IDM_TOOLS_CHARSET_UTF16LE
      MENUITEM "CP1252 (&ANSI)", IDM_TOOLS_CHARSET_CP1252
      MENUITEM SEPARATOR
      MENUITEM "Auto Detect by &BOM", IDM_TOOLS_CHARSET_AUTODETECT
    }
    POPUP "&Newline Code..."
    {
      MENUITEM "&CRLF", IDM_TOOLS_NEWLINECODE_CRLF
      MENUITEM "&LF", IDM_TOOLS_NEWLINECODE_LF
      MENUITEM "C&R", IDM_TOOLS_NEWLINECODE_CR
    }
    MENUITEM "&Add BOM (UTF-8)", IDM_TOOLS_ADDBOM
  }
  POPUP "&Help"
  {
    MENUITEM "&About", IDM_ABOUT
  }
}


//
// Dialog
//

find_string DIALOG 0, 0, 155, 42
STYLE 0x40 | 0x8 | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
CAPTION "Find String"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 10, "Tahoma"
{
  EDITTEXT 101, 6, 6, 141, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
  DEFPUSHBUTTON "&Search", 1, 42, 24, 51, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "&Cancel", 2, 96, 24, 51, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
}
